.table-border-effect-kie {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 12px;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  background: #fff;
}

.form-border-effect-kie {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 12px;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  background: #fff;
}
